<p>rooms works!</p>
<h1>Welcome to {{ hotelName }}</h1>

<button (click)="toggle()">Toggle show/hide room</button>

<div [hidden]="hideRooms">
  Number of Rooms:
  <div [innerText]="numberOfRooms">
  </div>
</div>

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div>
  <button (click)="editRoom()">Edit Room</button>
</div>

<div>
  <button (click)="deleteRoom()">Delete Room</button>
</div>

@if (hideRooms) {
  <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="title"></app-rooms-list>
}

<!-- @if (rooms.availableRooms > 0) {
  <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="title"></app-rooms-list>
} -->
