<p>rooms works!</p>
<h1>Welcome to {{ hotelName }}</h1>

<button (click)="toggle()">Toggle show/hide room</button>

<div [hidden]="hideRooms">
  Number of Rooms:
  <div [innerText]="numberOfRooms">
  </div>
</div>

@if (rooms.availableRooms > 0) {
  <div>
    Rooms List
    <!-- {{ roomList }} -->

    <table>
      <tr>
        <th>Index</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Rating</th>
        <th>Room Amenities</th>
        <th>Check-in Time</th>
        <th>Check-out Time</th>
      </tr>
      @for (room of roomList; track room.roomNumber; let i = $index) {
        <tr class="{{ i % 2 === 0 ? 'even' : 'odd' }}">
          <td>{{ i + 1 }}</td>
          <td hidden="true">{{ i % 2 === 0 ? "Even" : "Odd" }}</td>
          <td>{{ room.roomNumber }}</td>
          <td>{{ room.roomType }}</td>
          <td>{{ room.price | currency: 'JPY'}}</td>
          <td>{{ room.rating | number: '1.1' }}</td>
          <td>{{ room.amenities | lowercase}}</td>
          <td>{{ room.checkinTime | date: 'd/M/y'}}</td>
          <td>{{ room.checkoutTime | date: 'shortTime'}}</td>
        </tr>
      }
    </table>

  </div>
}
